*{
    margin:0;
    padding:0;
}
body{
        width:100%;
        min-height:100vh;
        margin:0;
        justify-content:center;
        displey: flex;
        align-items:center;
        
        background-image:linear-gradient(rgb(1, 37, 125,0.6),rgb(1, 37, 125,0.6)),url(content://com.teejay.trebedit.fileprovider/external/Download/image_search_1745301084916.jpg);
        background-size:cover;
        background-repeat:no-repeat;
       background-position:center ;
        
         }
h1{
    color:white;
    font-family:serif;
    margin:5px;
  }
h1 t{
    color:#00FFFF;
}
.Container{
    justify-conent: center;
    margin:25px;
    align-items:center;
}
p{
    color:white;
    font-size:30px;
    margin:10px;
    } 
    
p t{
    color:#00FFFF;
} 
p m{
    background-color: black;
} 
.search{
  display: flex;
  align-items: center;
  border:2px solid white;
  border-radius: 25px 25px 25px 25px;
  width: 300px;
  margin:15px;
}
.search:hover{
    border: 2px solid #00FFFF;
}

#movie {
  border: none;
  background-color:transparent;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  color:white;
  outline:none;
}
#movie:default{
    font-color:white;
}
#movie:focus{
    font-color:white;
}


.search-button {
  background-color:transparent;
  color:white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius:25px 25px 25px 25px;
}

.search-button:hover {
  background-color:white;
  color:#00FFFF;
}
.box{
    display:box;
    paddding:10px;
    margin:20px;
    text-align:center;
    
    
}
#movie-name{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
#movie-poster{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
#release-year{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
#genre{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
#rating{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
#cast{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
#director{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
#synopsis{
    font-size:20px;
    color:white;
    font-family:serif;
    align-text:center;
}
